<div class="report-widget">
    <h3>Permintaan Layanan Belum Diarahkan</h3>
    <div class="scoreboard">
        <div data-control="toolbar">
            <div class="scoreboard-item">
                <h4>Permintaan Arahan</h4>
                <p class="icon-compass" style="font-size: 20pt; font-weight: bold;">
                    <?= (new \Yfktn\BerikanArahan\Classes\ProsesLayananBelumDiarahkan)->getJumlahBelumDiarahkan() ?>
                </p>
                <p class="description">Jumlah permintaan yang belum diarahkan.</p>
            </div>
        </div>
    </div>
</div>