<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item title-value">
            <h4>Terdapat</h4>
            <p><?= $belumDiArahkan ?> items</p>
            <p class="description">belum diarahkan!</p>
        </div>

        <!-- <div class="scoreboard-item title-value">
            <h4>Comments</h4>
            <p class="positive">44</p>
            <p class="description">previous month: 32</p>
        </div>

        <div class="scoreboard-item title-value">
            <h4>Latest commenter</h4>
            <p class="oc-icon-star">John Smith</p>
            <p class="description">registered: yes</p>
        </div> -->
    </div>
</div>